# Telegram Mini App / Bot
VITE_TELEGRAM_BOT_USERNAME=
VITE_TELEGRAM_APP_NAME=leak_beast_arena

# Backend later
VITE_API_BASE_URL=http://localhost:3000

# Feature flags
VITE_ENABLE_TELEGRAM_MOCK=true
VITE_ENABLE_LIFE_TRACKER_MOCK=true
